* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
.container{
display: grid;
grid-template-columns: 25% 75%;
}

/*

:root {
    --blue-text: #86ddff;
    --dark-blue: #002b8f;
    --mid-blue: #3ba0ff;
  }  

*/
  /* NAVBAR SECTION*/
#mobile.nav {
    display: none;
}

.nav-bar{
    position: absolute;
    z-index: 2;
    width: 100%;
}
ul {
    display: flex;
    align-items: center;
    justfy-content: space-between;
}
/*
html{
    font-family: Arial, Helvetica, sans-serif
}
a {
  text-decoration: none;
}
*/


h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
